<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:theme="@style/Theme.CriosRango" android:label="CriosRango" android:icon="@mipmap/ic_launcher_favicon" android:roundIcon="@mipmap/ic_launcher_favicon" android:usesCleartextTraffic="false">
        <activity android:name=".MainActivity" android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="criosrango"
                    android:host="payment-return" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:host="criosrango.es"
                    android:pathPrefix="/app-payment-return/" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:host="www.criosrango.es"
                    android:pathPrefix="/app-payment-return/" />
            </intent-filter>

            <!-- CRIOSRANGO_PRODUCT_APP_LINKS -->

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:host="criosrango.es"
                    android:pathPrefix="/producto/" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:host="www.criosrango.es"
                    android:pathPrefix="/producto/" />
            </intent-filter>

        </activity>
    </application>
</manifest>
